body {
    font-family: "SF Pro Text", "Myriad Set Pro", "SF Pro Icons", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
    background-color: #f8f8f8;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.form-container {
    background-color: url('background-login.jpg');
    border-radius: 10px;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.1);
    padding: 30px;
    margin: 20px;
    max-width: 400px;
}

h2 {
    margin-top: 0;
    margin-bottom: 20px;
    font-weight: bold;
    color: #333;
}

input[type="text"],
input[type="email"],
input[type="password"],
button {
    width: 100%;
    padding: 15px;
    margin-bottom: 15px;
    border: none;
    border-radius: 8px;
    box-sizing: border-box;
    font-size: 16px;
}

button {
    background-color: #0070c9;
    color: #ffffff;
    cursor: pointer;
}

button:hover {
    background-color: #00549b;
}

.signup-link,
.login-link {
    text-align: center;
}

.signup-link a,
.login-link a {
    color: #0070c9;
    text-decoration: none;
}

.signup-link a:hover,
.login-link a:hover {
    text-decoration: underline;
}

.social-login {
    margin-top: 30px;
    text-align: center;
}

.social-buttons {
    display: flex;
    justify-content: center;
}

.google-btn,
.apple-btn,
.facebook-btn {
    background-color: #ffffff;
    color: #333;
    border: 2px solid #333;
    padding: 10px 20px;
    margin: 0 10px;
    border-radius: 8px;
    cursor: pointer;
}

.google-btn:hover,
.apple-btn:hover,
.facebook-btn:hover {
    background-color: #333;
    color: #ffffff;
}

.hidden {
    display: none;
}
