body {
    font-family: "SF Display Pro", sans-serif;
    margin: 0;
    padding: 0;
}

header {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 20px 0;
}

main {
    padding: 20px;
}

.container {
    display: flex;
    justify-content: space-between;
}

.blog-posts {
    flex: 2;
}

.post {
    margin-bottom: 20px;
}

.post h2 {
    margin-bottom: 10px;
}

.post p {
    margin-bottom: 10px;
}

.post a {
    color: #007bff;
}

.sidebar {
    flex: 1;
}

.sidebar h2 {
    margin-bottom: 10px;
}

footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 10px 0;
}
