/* global */
*,
*::before,
::after{
    margin: 0;
    padding: 0;
}

html {
    font-size: 10px;
    font-family: 'SF Pro Display', sans-serif;
}

a{
    display: block;
    text-decoration: none;
}

.container{
    max-width: 98rem;
    margin: 0 auto;
    padding: 0 2.2rem;
}

/* header */
header{
    position: fixed;
    top: 0;
    z-index: 1400;
    width: 100%;
    height: 4.4rem;
    background-color: rgba(0,0,0,.8);
    backdrop-filter: blur(2rem);
}

.nav-list{
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 -1rem;
}

.nav-list-mobile{
    display: none;
}

.nav-link{
    font-size: 1.4rem;
    color: #fff;
    padding: 0 1rem;
    transition: opacity .5s;
}

.nav-link:hover{
    opacity: .7;
}

.nav-link-apple{
    width: 1.6rem;
    height: 4.4rem;
    background: url(un-web.png) center no-repeat;
}

.nav-link-search{
    width: 1.6rem;
    height: 4.4rem;
    background: url(search.svg) center no-repeat;
}

.nav-link-bag{
    width: 1.4rem;
    height: 4.4rem;
    background: url(bag.svg) center no-repeat;
}

/* moved to the bottom of all section styles to keep consistent styles */
.hero{
    height: 69.2rem;
    background-size: auto 73.6rem;
    background-position: center;
    background-repeat: no-repeat;
    border-top: .6rem solid #fff;
    border-bottom: .6em solid #fff;
}

.iphone-11-pro{
    border-top: none;
}
/* end */

@media screen and (max-width: 1068px){

    .hero{
        height: 65rem;
        background-size: auto 69.8rem;
        background-position: bottom center;
        background-repeat: no-repeat;
    }

}

@media screen and (max-width: 767px){
    header{
        height: 4.8rem;
        transition: background .36s cubic-bezier(0.32,0.08, 0.24, 1),
                    height .56s cubic-bezier(0.32,0.08, 0.24, 1);
    }

    header .container{
        padding: 0;
    }

    .nav-list{
        margin: 0;
    }

    .nav-list-mobile{
        display: flex;
    }

    .nav-item{
        width: 4.8rem;
        height: 4.8rem;
        display: flex;
        justify-content: center;
    }

    .nav-item-hidden{
        display: none;
    }

    .mobile-menu{
        position: relative;
        z-index: 1500;
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        cursor: pointer;
    }

    .line{
        position: absolute;
        width: 1.7rem;
        height: 1px;
        background-color: #fff;
        transition: margin-top .3192s cubic-bezier(0.04, 0.04, 0.12, 0.96);
    }

    .line.top{
        margin-top: 3px;
    }

    .line-bottom{
        margin-top: -.4rem;
    }

   .active .line-top{
    margin-top: 0;
    transform: rotate(45deg);
    transition: transform .3192s .1s cubic-bezier(0.04, 0.04, 0.12, 0.96);
   }

   .active .line-bottom{
    margin-top: 0;
    transform: rotate(-45deg);
    transition: transform .3192s .1s cubic-bezier(0.04, 0.04, 0.12, 0.96);
   }

   header.active{
    height: 100%;
    background-color: #000;
   }

   .nav-link-apple{
    width: 4.8rem;
    height: 4.8rem;
    position: relative;
    z-index: 1500;
   }

   .nav-link-bag{
    width: 1.6rem;
    height: 4.8rem;
    transition: opacity 3s;
   }

   .nav{
    position: relative;
   }

   .nav-link{
    font-size: 1.7rem;
    padding: 0;
    margin: auto 0;
   }

   .nav-list-larger{
    position: fixed;
    top: 0;
    left: 0;
    width: 0;
    height: 0;
    display: block;
    padding: 10.5rem 5rem;
    z-index: 1000;
    box-sizing: border-box;
    opacity: 0;
    visibility: hidden;
    transition: opacity .3s;
   }

.active .nav-list-larger{
    width: 100%;
    height: 100vh;
    opacity: 1;
    visibility: visible;
    }
    
    .active .nav-link-bag{
        opacity: 0;
        transition: opacity .3s;
    }

    .nav-list-larger .nav-item{
        width: 100%;
        justify-content: flex-start;
        border-bottom: 2px solid rgba(255, 255, 255, .1);
    }

    .nav-list-larger .nav-item:nth-child(9){
        border-bottom: none;
    }

    .active .nav-list-larger .nav-item{
        animation: fadeIn 1s ease-in
    }
    
    @keyframes fadeIn {
        from{
            opacity: 0;
        }
        to{
            opacity: 1;
        }
    }
}
/* end */

/* Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

*{
    margin: 0;
    padding: 0;
   list-style: none;
   text-decoration: none;

font-family: 'Poppins', sans-serif;    
}
#main {
width: 100%;
min-height: 100vh;
background: #000000;
display: flex;
justify-content:center;
align-items: center;
}
.main-box{
    background: white;
    width: 80%;
    min-height: 80vh;
    background: linear-gradient(to right bottom,
        rgba(0, 0, 0, 0.5),
        rgba(48, 48, 48, 0.5)
    );
        border-radius: 1rem;
        border: .3rem solid white;
        backdrop-filter: blur(2rem);
        z-index: 4;
}
.circle1, .circle2{
    background: white;
    height: 15rem;
    width: 15rem;
    border-radius: 50%;
    position: absolute;
    background: linear-gradient( to right bottom,
    rgb(255, 255, 255),
    rgb(104, 104, 104)
    );
    z-index: 2;
}
.circle1{
  top: 4%;
  right: 2%;  
}
.circle2{
    bottom: 4%;
    left: 2%;
}
.main-box nav{
    padding: 50px;
}
.main-box nav u1{
   display: flex; 
   justify-content: space-between;
}
.logo{
    color: rgb(255, 255, 255);
    font-size: 1.1rem;
    font-weight: 800;
}
.bx{
    font-size: 1.6rem;
    color: #fff;
    padding: 6px 6px;
    border-radius: 0.5rem;
background: rgb(0, 0, 0);
cursor: pointer;
}
.main-content{
display: flex;
align-items: center;
justify-content: space-around;
}
.main-text{
    max-width: 500px;
    color: #fff;
}
.main-text h1 {
font-size: 2.5rem;    
}
.main-text h2 {
    font-size: 2rem;
    font-weight: 200;
}
.main-text p {
 font-size: 1rem;
 font-weight: 100;
 margin: 18px 0 40px;
}
.btn1,.btn2,.btn3,.btn4{
padding: 10px 20px;
margin: 10px 10px;
background: #ffffff;
color: #fff;
font-weight: 300;
border-radius: 2rem;
cursor: pointer;
}
.btn1{
    background-color: #fff;
    color: black;
    margin-left: 1rem;
    text-align: center;
}
.btn1:hover {
    background: #1d1d1d;
    color: #ffffff;
    transition: 0.5s ease;
}
.btn2{
    background-color: #fff;
    color: black;
    margin-left: 1rem;
    text-align: center;
}
.btn2:hover {
    background: #1d1d1d;
    color: #fff;
    transition: 0.5s ease;
}
.btn3{
    background-color: #fff;
    color: black;
    margin-left: 1rem;
    text-align: center;
}
.btn3:hover {
    background: #1d1d1d;
    color: #ffffff;
    transition: 0.5s ease;
}
.btn4{
    background-color: #fff;
    color: #000;
    margin-left: 1rem;
    text-align: center;
}
.btn4:hover {
    background: #1d1d1d;
    color: #ffffff;
    transition: 0.5s ease;
}
.main-text::after{
    content: '';
    width: 5px;
    height: 20%;
    background: #fff;
    position: absolute;
    left: 2.4rem;
    top: 11.1rem;
}
.main-img{
    width: 350px;
    height: 350px;
}
.main-img img{
    width: 100%;
    height: 100%;
    object-fit: contain;
    object-position: center;
}
.popup-testing{
    width: 100%;
    height: 100%;
    object-fit: contain;
    object-position: center;
}

.footer{
    margin-top: 5px;
    width: 70%;
    padding: 100px 15%;
    background: #000000;
    color: #efefef;
    display: flex;
}
.footer div{
    text-align: center;
}

.col-2{
    flex-grow: 2;
}

.footer div h3{
    font-weight: 300;
    margin-bottom: 30px;
    letter-spacing: 1px;
}

.col-1 a{
    display: block;
    text-decoration: none;
    color: #efefef;
    margin-bottom: 30px;
    left: 5rem;
}

.col-1 a:hover{
    background-color: none; 
    color: #6d6d6d; 
    border: none;
    transition: opacity ease-in-out 3s;
    cursor: pointer;
}

form input{
    width: 150px;
    height: 25px;
    border-radius: 4px;
    text-align: center;
    margin-top: 20px;
    margin-bottom: 20px;
    outline: none;
    border: none;
}

form button{
    background: transparent;
    border: 2px solid #fff;
    color: #fff;
    border-radius: 10px;
    padding: 10px 15px;
    font-size: 15px;
    cursor: pointer;
}

form button:hover{
    background-color: #ffffff; 
    color: #0d0d0d; 
    border: 2px solid #ffffff;
    border-radius: 10px;
    padding: 10px 15px;
    transition: opacity ease-in-out 3s;
    cursor: pointer;
}

.social-icons{
    margin-top: 15px;
}

.social-icons i{
    font-size: 22px;
    margin: 10px;
    cursor: pointer;
    text-decoration: none;
    color: #fff;
}

.social-icons i:hover{
    background-color: none; 
    color: #7e7e7e; 
    border: 3px solid none;
    transition: opacity ease-in-out 3s;
    cursor: pointer;
}